.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.phpactor.json
.idea
.vscode
.zed
.fleet
.nova
.claude
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
public/hot
public/storage
auth.json
Homestead.json
Homestead.yaml
*.log
README.md
